@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Employee>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product List</title>
</head>
<body>
    <h1>Product Listed</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Eno</td>
                    <td>@product.Ename</td>
                    <td>@product.Salary</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>